<launch>
    <include file="$(find naboris_arduino_bridge)/launch/naboris_arduino_bridge.launch"></include>
    <include file="$(find naboris_odometry)/launch/naboris_odometry.launch"></include>
    <include file="$(find naboris_motor_control)/launch/naboris_motor_control.launch"></include>
    <!-- <include file="$(find naboris_ip_cam)/launch/naboris_ip_cam_410x308_30fps.launch"></include> -->
    <!-- <include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch"></include> -->
</launch>
