
<launch>
    <!-- Arduino controls and sensors -->
    <param name="counts_per_revolution" type="double" value="12.0"/>
    <param name="gear_ratio" type="double" value="150.58"/>
    <param name="wheel_radius_mm" type="double" value="27.0"/>
    <param name="max_rpm" type="double" value="200.0"/>
    <param name="dist_between_wheels_mm" type="double" value="109.0"/>
    <param name="dist_between_axles_mm" type="double" value="143.0"/>

    <!-- <node type="naboris_arduino_bridge_node" name="naboris_arduino_bridge_node" pkg="naboris_arduino_bridge" required="true" output="screen">
        <param name="~serial_port" type="string" value="/dev/serial/by-id/usb-Adafruit_Adafruit_Metro_328_ADAPHOMje-if00-port0"/>
        <param name="~serial_baud" type="int" value="115200"/>
    </node>

    <node pkg="naboris_odometry" type="naboris_odometry_node" name="naboris_odometry_node" required="true">
    </node>

    <node pkg="naboris_motor_control" type="naboris_motor_control_node" name="naboris_motor_control_node" required="true">
        <param name="~joystick_strafe_axis_x" type="int" value="3"/>
        <param name="~joystick_strafe_axis_y" type="int" value="4"/>
        <param name="~joystick_rotate_axis" type="int" value="0"/>

    </node> -->

    <!-- USB Joystick -->
    <!-- <param name="joy_node/dev" value="/dev/input/js0"/>
    <node pkg="joy" type="joy_node" name="usb_joystick"/> -->

    <!-- IP camera node -->
    <node type="naboris_ip_cam_node" name="naboris_ip_cam_node" pkg="naboris_ip_cam" required="true">
        <param name="~camera_info_url" value="package://naboris_ip_cam/camera_info/naboris_ip_cam_410x308.yaml"/>
        <!-- <param name="~camera_info_url" value="package://naboris_ip_cam/camera_info/naboris_ip_cam_720x480.yaml"/> -->

        <param name="~camera_name" value="naboris_stereo/right"/>
        <param name="~fps" value="10.0" type="double"/>
    </node>

    <!-- Raspi cam nodes -->
    <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node">
        <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_410x308.yaml"/>
        <!-- <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_720x480.yaml"/> -->
        <param name="~camera_name" value="naboris_stereo/left"/>
        <param name="~width" value="410"/>
        <param name="~height" value="308"/>
        <!-- <param name="~width" value="720"/>
        <param name="~height" value="480"/> -->

        <param name="~framerate" value="5.0"/>
        <param name="camera_frame_id" value="naboris_left_cam"/>
    </node>

    <node name="dynamic_reconfigure_load_raspicam" pkg="dynamic_reconfigure" type="dynparam"
        args="load /raspicam_node $(find raspicam_node)/params/raspicam_node_defaults.yaml"/>

    <!-- Intermediate stereo node -->
    <node type="naboris_stereo_node" name="naboris_stereo_node" pkg="naboris_stereo" required="true">
        <param name="~right_cam_sub_topic" value="/naboris_ip_cam/image_raw"/>
        <param name="~left_cam_sub_topic" value="/raspicam_node/image"/>
        <param name="~fps" value="2.0" type="double"/>
    </node>

    <!-- Stereo proc nodes -->
    <!-- <node name="dynamic_reconfigure_load_stereo_proc" pkg="dynamic_reconfigure" type="dynparam"
        args="load /naboris_stereo/stereo_image_proc $(find naboris_stereo)/params/stereo_params-410x308.yaml"/> -->
    <node name="dynamic_reconfigure_load_stereo_proc" pkg="dynamic_reconfigure" type="dynparam"
        args="load /naboris_stereo/stereo_image_proc $(find naboris_stereo)/params/stereo_params-720x480.yaml"/>

    <group ns="/naboris_stereo" >
        <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
            <param name="~approximate_sync" value="True" />
            <param name="~queue_size" value="25" />
        </node>
    </group>

    <!-- <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="/naboris_stereo/points2" to="/cloud_in" />
    </node> -->

    <!-- <group ns="/naboris_stereo" >
        <include file="$(find stereo_image_proc)/launch/stereo_image_proc.launch">
            <arg name="manager" value="naboris_stereo_manager" />
            <arg name="right" value="naboris_stereo/right" />
            <arg name="left" value="naboris_stereo/left" />
        </include>
    </group> -->

    <!-- ORB_SLAM2 -->
    <!-- <node pkg="ORB_SLAM2" type="Stereo" name="orbslam2" output="screen" required="true"
        args="/home/naboris/Documents/ORB_SLAM2/Vocabulary/ORBvoc.bin /home/naboris/Documents/ORB_SLAM2/Examples/ROS/ORB_SLAM2/Naboris.yaml true">
    </node> -->
</launch>
